@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* --white */
    --foreground: 180 69% 14%; /* --teal-950 */
    
    --card: 0 0% 100%;
    --card-foreground: 180 69% 14%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 180 69% 14%;

    --primary: 180 71% 17%; /* --teal-900 */
    --primary-foreground: 220 13% 91%; /* --stone-200 */

    --secondary: 220 13% 91%; /* --stone-200 */
    --secondary-foreground: 180 71% 17%;

    --muted: 220 9% 96%; /* --stone-100 */
    --muted-foreground: 215 14% 34%; /* --slate-600 */

    --accent: 336 71% 31%; /* --pink-900 */
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 180 71% 17%;
    
    --radius: 1rem; /* 16px */
  }

  .dark {
    --background: 180 61% 8%; /* Dark Teal */
    --foreground: 30 11% 93%; /* Off-white */
    --card: 180 61% 8%;
    --card-foreground: 30 11% 93%;
    --popover: 180 61% 8%;
    --popover-foreground: 30 11% 93%;
    --primary: 60 8% 97%; /* Light Stone */
    --primary-foreground: 180 71% 17%; /* Dark Teal */
    --secondary: 180 69% 14%; /* Darker Teal */
    --secondary-foreground: 30 11% 93%;
    --muted: 180 69% 14%;
    --muted-foreground: 30 5% 62%;
    --accent: 334 70% 60%; /* Brighter Pink */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 69% 14%;
    --input: 180 69% 14%;
    --ring: 334 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Sofia Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }
}
